<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint binding="basicHttpBinding" name="IFrontEnd"  contract="ISV.Services.Contracts.FrontEnd.IFrontEnd" address="http://localhost:50745/FrontEnd.svc"/>
    </client>
    
    <bindings>
      <basicHttpBinding>
        <binding>
          <security mode="None">
            <transport clientCredentialType="Windows" />
          </security>
          <readerQuotas />
        </binding>
      </basicHttpBinding>
    </bindings>
    
  </system.serviceModel>
</configuration>