<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
 
        <services>
            <service name="ISV.Services.FrontEnd" behaviorConfiguration="FrontEndBehavior">
                <endpoint contract="ISV.Services.Contracts.FrontEnd.IFrontEnd" binding="basicHttpBinding" address="" />
                <endpoint contract="ISV.Services.Contracts.FrontEnd.IFrontEnd" binding="netTcpBinding" address="" />
            </service>
        </services>
    
        <bindings>
          <netTcpBinding>
            <binding>
              <readerQuotas />
              <security mode="None">
                <transport clientCredentialType="None" />
              </security>
            </binding>
          </netTcpBinding>
          <basicHttpBinding>  
            <binding>
               <readerQuotas />
               <security mode="None">  
                   <transport clientCredentialType="Windows" />  
               </security>  
            </binding>  
          </basicHttpBinding> 
        </bindings> 
    
        <behaviors>
            <serviceBehaviors>
                <behavior name="FrontEndBehavior" >
                  <serviceMetadata httpGetEnabled="true" />
                  <serviceCredentials>
                  </serviceCredentials>
                  <useRequestHeadersForMetadataAddress>
                    <defaultPorts>
                      <add scheme="net.tcp" port="3000" />
                    </defaultPorts>
                  </useRequestHeadersForMetadataAddress>
                </behavior>
            </serviceBehaviors>
        </behaviors>
 
    </system.serviceModel>
</configuration>